/**
 * Fonts
 */

@font-face {
    font-family: 'Fira Mono';
    src: url('../fonts/FiraMono-Regular.woff') format('woff'),
         url('../fonts/FiraMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
