/**
 * Articles
 */

.articles-list {
    list-style: none;
}

.articles-list__item {
    margin-bottom: $gap;
}

.articles-list__title {
    font-size: 2.4rem;
    font-weight: 400;
}

.articles-list__date {
    float: right;
    padding-left: $gap;
    color: $grey;
    font-size: 2rem;
    line-height: 1.9;
}

.articles-subscribe {
    margin-top: 2*$gap;
}

.article {
    p, img, ul, ol, blockquote, pre {
        margin-bottom: $gap;
        line-height: 1.7;
    }

    a {
        color: $blue;
    }

    h2 {
        margin-top: 2*$gap;
        margin-bottom: $gap/2;
        font-size: 2.6rem;
        font-weight: 700;
    }

    h3 {
        margin-top: 2*$gap;
        margin-bottom: $gap/2;
        font-size: 2.2rem;
        font-weight: 700;
    }

    figure {
        margin-bottom: $gap;
    }

    figcaption {
        margin-top: -$gap/2;
        text-align: center;
        font-size: 1.4rem;
    }
}

blockquote {
    margin-left: 3px;
    padding-left: $gap;
    border-left: 3px solid $grey__light;
}

code {
    font-family: 'fira-mono', monospace;
    background: #f0f5f7;
}

pre {
    overflow: auto;
    padding: 1.5rem 2rem;
    font-size: 1.6rem;
    white-space: pre;
    direction: ltr;
    word-spacing: normal;
    word-break: normal;
    tab-size: 4;
    hyphens: none;
    background: #f0f5f7;
}

.article__header {
    margin-bottom: $gap;
}

.article__title {
    font-size: 3rem;
    line-height: 1.2;
}

.article__meta.article__meta {
    margin-bottom: 0;
    color: $grey;
}

.cta--article {
    margin-top: 3*$gap;
}

.article__nav {
    @extend %clearfix;

    @include breakpoint(bp1) {
        margin-top: 2*$gap;
    }
}

.article__nav-link {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;

    @include breakpoint(bp1) {
        position: static;
        transform: none;
    }
}

.article__nav-link--prev {
    left: 20px;

    @include breakpoint(bp1) {
        float: left;
    }
}

.article__nav-link--next {
    right: 20px;

    @include breakpoint(bp1) {
        float: right;
    }
}
