---
layout: default
---
<section class="hero" style="background-color: #{{ page.background }};">
    <img
        class="hero__img"
        srcset="/img/projects/{{ page.hero }}-huge.png 1600w, /img/projects/{{ page.hero }}-large.png 800w, /img/projects/{{ page.hero }}-medium.png 640w, /img/projects/{{ page.hero }}-small.png 320w"
        sizes="(min-width: 800px) 800px, 100vw"
        src="/img/projects/{{ page.hero }}-small.png"
        alt="{{ page.title}} Screenshot"
        width="800">
</section>

<section class="section">
    <article class="article wrap">
        <header class="article__header">
            <h1 class="article__title">{{ page.title }}</h1>
        </header>

        {{ content }}

        <p class="cta cta--article">
            <a class="btn" href="mailto:work@martinwolf.org?subject=Let's work together">Hire me</a>
        </p>
    </article>
</section>
